.container
  %h1 Listing Feeds
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Url
    - @feeds.each do |feed|
      %tr
        %td= feed.name
        %td= feed.url
        %td= link_to 'Show', feed, class:  'btn btn-default'
        %td= link_to 'Edit', edit_feed_path(feed), class:  'btn btn-default'
        %td= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' }, class:  'btn btn-danger'
  = link_to 'New Feed', new_feed_path, class:  'btn btn-info'
