= simple_form_for(@channel) do |f|
  = f.error_notification
  %form{:role => "form"}
    .form-group
      %label{:for => "name"} Channel name:
      = f.text_field :name, autofocus: true, class: 'form-control'
      %label{:for => "slug"} Slug:
      = f.text_field :slug, autofocus: true, class: 'form-control'
      = f.hidden_field(:user_id, value: current_user.id)
    .form-actions
      = f.button :submit
