<% content_for :search do %>
    <%= search_form_for @search do |f| %>
        <%= f.text_field :title_cont, class: "radius-left expand", placeholder: "Поиск" %>
        <%= f.submit "Поиск", class: "radius-right button" %>
    <% end %>
<% end %>
<% if current_user%>
<ul class="nav nav-tabs">
      <% @channs.each_with_index do |chann, index| %>
          <% if index == 0 %>
              <li class="active"><a href="#tab_<%=index.to_s%>" data-toggle="tab"><p><%= chann.name %></p></a></li>
          <% else %>
              <li><a href="#tab_<%=index.to_s%>" data-toggle="tab"><p><%= chann.name %></p></a></li>
          <% end %>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @channs.each_with_index do |chann, index| %>
          <% if index == 0 %>
              <div class="tab-pane fade in active" id="tab_<%=index.to_s%>">
                <%= render  "pages/index_form", pages: @pages.send(chann.slug.to_sym) %> %></p>
              </div>
          <% else %>
              <div class="tab-pane fade" id="tab_<%=index.to_s%>">
                <p><%=  render "pages/index_form", pages: @pages.send(chann.slug.to_sym) %></p>
              </div>
          <% end %>
      <% end %>
    </div>
    <%= paginate(@pages) %>
<% else %>
    <p><%=  render "pages/index_form", pages: @pages %></p>
    <%= paginate(@pages) %>
<% end %>
