<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @page.ref %>
</p>

<p>
  <strong>Time:</strong>
  <%= @page.published %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
