<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @tagoverlap.name %>
</p>



<p>
  <strong>Nametarget:</strong>
  <%= @tagoverlap.nametarget %>
</p>

<%= link_to 'Edit', edit_tagoverlap_path(@tagoverlap) %> |
<%= link_to 'Back', tagoverlaps_path %>
