= simple_form_for(@category) do |f|
  = f.error_notification
  %form{:role => "form"}
    .form-group
      %label{:for => "name"} Category name:
      = f.text_field :name, autofocus: true, class: 'form-control'
    .form-group
      %label{:for => "name"} Url:
      = f.input :standard, as: :boolean, autofocus: true, class: 'form-control'
    .form-group
      = f.label "Поле в Easy"
      = f.association :parent, collection: @list, prompt: "Choose a Company", autofocus: true, class: 'form-control'
    // = f.input :parent, options_for_select(@list.collect{ |u| [u[0], u[1]]} ), autofocus: true, class: 'form-control'
    .form-actions
      = f.button :submit
