.container
  %h1 Listing categories
  = link_to 'Count Category', count_categories_path, class:  'btn btn-success'
  %table.table.table-striped
    %thead
      %tr
        %th Name
    - @categories.each do |category|
      %tr
        %td= link_to category.name, category_categories_path(category.id), class: 'btn btn-info'
        %td
          &nbsp;
          %span.badge.danger>=  category.count
        %td= link_to 'Show', category, class:  'btn btn-default'
        %td= link_to 'Edit', edit_category_path(category), class:  'btn btn-default'
        %td= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:  'btn btn-danger'
  = link_to 'New Category', new_category_path, class:  'btn btn-info'
