<h1>Info</h1>

<h5>   количество строк в базе: <%= @info.page_count %></h5>
<h5>   количество тэгов в базе: <%= @info.tag_count %></h5>
<h5>   количество тэггингс в базе: <%= @info.tagging %></h5>
<h5>   количество источников в базе: <%= @info.size %></h5>

<%= 	  %>





<%= link_to 'Back', pages_path %>
