<h1>Info</h1>

<h5>   количество строк в базе: <%= @info.page_count %></h5>
<h5>   количество тэгов в базе: <%= @info.tag_count %></h5>
<h5>   количество тэггингс в базе: <%= @info.tagging %></h5>
<h5>   количество источников в базе: <%= @info.size %></h5>

<%= 	  %>

<% @s.each do |a| %>
 <h5> <%= image_tag(a.avatar.url(:thumb), class: 'avatar1', :size => "20") %>
 <%=  link_to a.name, pages_path(a.id) %>
    |количество записей в базе: <%= a.last1.page_count %>
	|  количество записей в базе за день: <%= a.last1.page_count %>
	|  количество тегов за день: <%= a.source1.tag_count %>
	|  количество записей в базе за прошлый день: <%= a.source1.page_count %>
	|  количество тегов за день: <%= a.last1.tag_count %>
	</h5>
<% end %> 



<%= link_to 'Back', pages_path %>
