<h1>Info</h1>

<h5>   количество строк в базе: <%= @info.page_count %></h5>
<h5>   количество тэгов в базе: <%= @info.tag_count %></h5>
<h5>   количество тэггингс в базе: <%= @info.tagging %></h5>
<h5>   количество источников в базе: <%= @info.size %></h5>

<%= 	  %>

<% Source.includes(:infos).each do |a| %>
 <h5> <%= image_tag(a.avatar.url(:thumb), class: 'avatar1', :size => "20") %>
 <%=  link_to a.name, pages_path(a.id) %>
    |Всего записей в базе: <%= a.infos.first.page_count %>
	|количество записей в базе за день: <%= Page.where(source_id: a.id, published: Date.today.to_time.beginning_of_day..Date.today.to_time.end_of_day).count %>
	|  количество записей в базе за прошлый день: <%= Page.where(source_id: a.id, published: (Date.today-1).to_time.beginning_of_day..(Date.today-1).to_time.end_of_day).count %>
	
	</h5>
<% end %> 



<%= link_to 'Back', pages_path %>
