<h1>Info</h1>

<h5>   количество строк в базе: <%= Page.count %></h5>
<h5>   количество тэгов в базе: <%= ActsAsTaggableOn::Tag.count %></h5>
<h5>   количество тэггингс в базе: <%= ActsAsTaggableOn::Tagging.count %></h5>
<h5>   количество источников в базе: <%= Feed.count %></h5>
<h5>   количество категорий в базе: <%= Category.count %></h5>
<%= 	  %>





<%= link_to 'Back', pages_path %>
